.columns {
  font-size: 0;

  &:extend(.clearfix all);

  &__column {
    display: inline-block;
    width: 50%;
    padding: 0 10px;
    vertical-align: middle;

    font-size: 14px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}