@import (reference) "vars";

html,
body {
  width: 100%;
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-width: @containerWidth;
  position: relative;
}

.container {
  width: @containerWidth;
  margin: 0 auto;
  padding: 50px 25px;
}
