@import (reference) "vars";

.list-item {
  margin-bottom: 10px;
  padding: 20px 70px 20px 20px;
  position: relative;

  background: @color__blue;

  &:last-child {
    margin-bottom: 0;
  }

  &__editor {
    width: 100%;
    outline: none;
  }

  &__buttons {
    position: absolute;
    right: 5px;
    top: 50%;

    font-size: 20px;
    font-weight: bold;

    transform: translateY(-50%);
  }

  &__add,
  &__remove,
  &__reorder {
    padding: 5px;
    float: left;
    opacity: .33;
    cursor: default;

    &:not([disabled]):hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}