@import "vars";
@import "layout";
@import "columns";
@import "list-item";

h1 {
  margin: 0 0 50px;
  text-align: center;
}

list {
  display: block;
}

.json-formatter {
  margin: 0;
  padding: 10px;

  line-height: 1.4;
  white-space: pre-wrap;

  background: @color__gray;
}